.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background: url('/client/public/assets/images/bullseye-gradient.png');
}

.landing-page-buttons {
  display: flex;
  justify-content: space-between;
  width: 14em;
  position: relative;
  top: 1em;
  border: 0px solid red;
}

h1 {
  font-size: 3.5em;
}

h2 {
  color: rgb(119, 119, 119);
}

.btn-landing-page {
  cursor: pointer;
  width: 7em;
  height: 3em;
  background-color: black;
  border-radius: 2px;
  border: 1px solid grey;
}

.btn-landing-page:hover {
  background-color: #000;
  color: blueviolet;
  font-weight: 600;
  border: 1px solid blueviolet;
}

.register-btn {
  background-color: darkgray;
  color: black;
  font-weight: 600;
}