.main-section,
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /* background: url('/client/public/assets/images/bullseye-gradient.png'); */
}

.login-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  box-sizing: border-box;
  border: 0px solid red;
  /* border: 1px solid;
  border-image: linear-gradient(150deg, #d3d, #444) 20; */
  border-radius: 6px;
  padding: 1em;
  height: auto;
  background-color: rgba(35, 35, 35, 0.595);
}

.landing-page-buttons {
  display: flex;
  justify-content: space-between;
  width: 14em;
  border: 0px solid red;
}

h1 {
  font-size: 3.5em;
}

.heading h2 {
  color: rgb(119, 119, 119);
}

.btn-landing-page {
  cursor: pointer;
  width: 7em;
  min-width: 7em;
  height: 3em;
  margin: 1.2em 0 1.2em 0;
  /* box-sizing: border-box; */
  background-color: black;
  border-radius: 2px;
  border: 1px solid grey;
}

.btn-landing-page:hover {
  background-color: #000;
  color: #FFF;
  font-weight: 600;
  /* border: 1px solid blueviolet; */
  border: 1px solid;
  border-image: linear-gradient(100deg, blueviolet, rgb(255, 255, 255)) 1;
  /* box-shadow: 1px 1px 4px blueviolet; */
}

.register-btn {
  background-color: darkgray;
  color: black;
  font-weight: 600;
}

.sub-description {
  color: blueviolet;
}

.input-field-style {
  border: 0px solid #000;
  width: 80%;
  height: 2em;
  border-radius: 4px;
  padding: .5em;
  margin: .5em 0 .5em 0;
}

p {
  font-size: smaller;
}

.register-link {
  cursor: pointer;
  font-weight: 600;
}

h3 {
  color: #8a2be2;
  margin: 0 0 .7em 0;
  border: 0px solid red;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 2em 0 0 0;
  border: 0px solid red;
  margin-right: 10em;
  width: 100%;
}

.logout-btn {
  cursor: pointer;
}

.logout-btn:hover {
  transform: scale(1.2);
}

.tasks-hero {
  border: 0px solid #fff;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  gap: 1em;
}

.task-section {
  width: 60%;
  border: 0px solid red;
  display: flex;
  align-items: flex-start;
  justify-content: left;
  flex-direction: column;
  padding: 0;
  margin: 1em 0 0 0;
}

.add-new-heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .5em;
  width: fit-content;
  padding: .7em;
  border: 0;
  border: 0.5px solid blueviolet;
  border-radius: 4px;
  cursor: pointer;
  background-color: #000;
}

img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.task-table-div {
  margin: 1em 0 0 0;
  border: 0px solid red;
  width: 100%;
  border-radius: 4px;
  padding: .2em;
  /* background: rgb(28, 28, 28); */
  background-color: #0c0c0c;
  font-size: small;
}

.task-table {
  width: 100%;
}

thead tr {
  background-color: #8a2be2;
  width: 100%;
  height: 3em;
}

tbody tr {
  height: 2.4em;
  border: 1px solid red;
}

.tfooter-divider {
  background-color: #8a2be2;
  width: 100%;
}

.tfooter {
  /* margin-top: 1em; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 1em;
  align-items: center;
  border-top: 1px solid #fff;
  margin-bottom: 1em;
}

.t-btn-controls {
  background-color: #0c0c0c;
  border: 0;
  margin-top: 1.4em;
  width: fit-content;
  height: auto;
  /* padding: .6em; */
  cursor: pointer;
  border-radius: 4px;
  border: 0px solid yellow;
}

.t-btn-controls:hover {
  background-color: #000000;
  border: 1px solid #8a2be2;
  /* #BCBCBC */

}

.dropDown {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1em;
  height: auto;
  border: 0px solid red;
}

.tfooter-child {
  width: 50%;
  border: 0px solid #8a2be2;
  display: flex;
  justify-content: right;
}

select {
  background-color: #000;
  color: #fff;
  width: 5em;
}

.dropDownDiv {
  display: flex;
  justify-content: right;
  border: 0px solid pink;
  width: 40%;
}

.action-btn {
  background-color: #0c0c0c;
  border: #000;
  cursor: pointer;
}

.modal-section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1000;
}

.modal-main {
  background-color: #111111;
  padding: 2em;
  width: 40%;
}

.modal-action {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1em;
}

.modal-submit,
.modal-close {
  padding: .6em;
  cursor: pointer;
}